@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
/* 화면 전체 렙 */
body{
	height: 100%;
	width:100%;
	margin:0;
	font-family:"Helvetica";
}
.wrapper{
	width: 100%;
}
/* content 랩 */
.wrap{
	width : 100%;
	margin: auto;
}
/* 로고, 검색, 로그인 */
.top_area{
	width: 100%;
    height: 100px;
    /* background-color: #f7f0b9; */

}
/* 로고 영역 */
.logo_area{
	width: 20%;
	height: 100%;
	float:left;
	object-fit: cover;
	text-align: center;
}
.logo_area img{
	width:50%;
	height: 100%;
	max-width:100%;
	max-height:100%;

}
/* 검색 박스 영역 */
.search{
	width: 50%;
    height: 100px;
	position: relative;
	text-align:center;
	margin: 0 auto;
	float: left;
}
.search-box{
	width:100%;
	position: absolute;
    height: 70px;
    top:30%;
}
.search input {
	
	width:80%;
	border-radius: 20px;
	border: 1px solid #bbb;
	padding: 10px 10px;
	font-size: 14px;
}

search img {
	position: absolute;
	width:10px;
	top: 10px;
	right: 5px;
	margin: 0;
}

/* 로그인 버튼 영역 */
.login_area{
	width: 30%;
    height: 100px;
	float:left;
	padding:0;
}
.login_area ul {
	list-style-type:none;
	text-align:center;
	}
	
.login_area li {
	text-align:center;
	width:33%;
	float:left;

}
.login_area a {
	line-height:100px;
	text-decoration: none;
	color: black;
	font-size: 15px;
  
}
.login_area li a:hover{
	font-style: bold;
	
}

/* 제품 목록 네비 */

.navi_bar_area{
	width: 100%;
    height: 50px;
    overflow:hidden;
    background-color: #2d2d2d;
    text-align:center;
}
.clearfix {
	/*list-style: none;*/
	width:800px;
	margin :0 auto;
	line-height:50px;
	height: 50px;
	display: table;
}

.clearfix li{
	width:25%;
	float: left;
	line-height: 50px;
	list-style: none;
	
}

.menuLink{
	width:100%;
	color: white;
	font-size:15px;
	float : left;

}

/*메인 이미지 */
products{
	 max-width: 1000px;
}
.sum_img{
	height: 450px;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
.main_img{
	height: 100%;
 	width: 95%;
}
h1{
	text-align: center;
	width: 100%;
	font-size: 24px;
	font-style: bolder;
	color: #545454;
  
}
/* 홈페이지 메인 제품 목록  */

.content_area{
	width: 100%;
    height: 1000px;
    margin-top:30px;
}

.products {
	margin:0 auto;
	padding: 0;
	width: 90%;
	text-align: center;
}

.products img{
  width: 280px;
  height: 400px;
  margin: 10px 10px;
  margin-bottom: 20px;
 
}

.products a{
  text-decoration: none;
  color: black;
 /* float: left;*/
  font-size: 16px;
  display:inline-block;

}

.price{
  margin-top: 4px;
  margin-bottom: 80px;
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}